<body>
    <div class="search-sort">
        <div class="search">
            <label for="">Search:</label> <br>
            <input type="text">
        </div>
        <div class="sort-by">
            <label for="">Sort by:</label> <br>
            <select name="sort" id="sort">
                <option value="newest">Newest</option>
                <option value="oldest">Alphabetical</option>
              </select>
        </div>
    </div>
    <div class="puhelimet">
        <div class="puhelin-yksilo" *ngFor="let puhelin of puhelimet">
            <div class="puhelin-kuva">
                <figure>
                    <img src="../assets/{{ puhelin.imageUrl }}" alt="">
                </figure>
            </div>
            <div>
                <h4>{{ puhelin.name }}</h4>
                <p>{{puhelin.snippet}}</p>
            </div>
        </div>

    </div>
</body>